@use "../../stlyes/variables" as *;
@use "../../stlyes/mixins" as *;
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
}

.nav {
  background-color: $navysky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    padding: 2rem 3rem;
  }

  &__logo {
    @include desktop {
      width: 20rem;
    }
  }

  &__link {
    color: $goldenrod;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    text-decoration: none;

    @include tablet {
      padding-right: 1rem;
      font-size: 1rem;
      font-weight: 500;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
    }
  }
}
