@use "../../stlyes/variables" as *;
@use "../../stlyes/mixins" as *;
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  &__image {
    width: 100%;
    height: 10rem;
  }

  &__name {
    @include tablet {
      text-align: center;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    font-size: 1rem;
    @include tablet {
      padding-left: 1rem;
    }
  }

  &__button {
    background-image: url(../../assets/icons/favorite.png);
    background-repeat: no-repeat;
    background-color: white;
    width: 25px;
    height: 25px;
    border: none;
  }
}
