@use "../../stlyes/mixins" as *;
@use "../../stlyes/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
}

.dog-page {
  padding: 1rem 1rem 0rem 1rem;

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding-bottom: 1rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet {
      justify-content: space-around;
    }
  }
}
