@use "../../stlyes/variables" as *;
@use "../../stlyes//mixins" as *;
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
}

.favourites-box {
  display: flex;
  flex-direction: column;
}

.favourites__header {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1rem;

  @include tablet {
    font-size: 2rem;
  }
}

.favourites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 3rem;

  @include desktop {
    gap: 1rem;
    flex-direction: row;
  }

  &__image {
    width: 100%;
    height: 10rem;

    @include tablet {
      width: 100%;
      height: 25rem;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }

  &__name {
    text-align: center;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__info {
    @include tablet {
      font-size: 1.5rem;
    }
  }
}
