@font-face {
  font-family: Danzza;
  src: url(../assets/fonts/danzza-medium-webfont.woff.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: ysabeau;
  src: url(../assets/fonts/YsabeauSC-Light.ttf);
}
